# Washington DC Housing Market Analysis

# Exploratory Data Analysis

## Project Goal

The goal of this analysis is to explore Washington DC housing market data and gather initial findings. From these findings, we will reconfigure and group the Washington DC regions according to various housing statistics. Upon reconfiguration, these regions will then show similar/same sale prices and other housing characteristics. This analysis will be the basis of future evaluation including building predictive models to predict future home sale price and other notable housing market variables.

## Summary of Data

This analysis uses housing market data from the time period of February 2012 to October 2019, including data for prices (median sale price, percentage of homes sold above list price, percentage of homes that had price drop, etc.), inventory (number of homes on market, new listings, months of supply, etc.), and sales (number of homes sold, median days on market, etc.).

#### Data Source: https://www.redfin.com/blog/data-center

### Library Import

In [2]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Data Import and Data Cleaning
### Importing data and creating dataframes for each Washington DC region
#### All required datasets are downloaded in our folder titled "data"

In [3]:
# set up name label to match each csv dataset
lst = []
for i in range(1,83):
    location = 'data/'
    ext = 'data_crosstab ({}).csv'.format(i)
    final = location + ext
    lst.append(final)
    # print(final)

# pull datasets from data folder and clean data such as $1,200K, 1.5%, etc. Change data type from object to float
# create a new list: df_list to include all datasets
df_list = []
i = 0
for location in lst:
    df = pd.read_csv(location, encoding='utf-16', sep='\t')
    df = df.add_suffix('_'+str(i))
    # reformat the median sale prices from strings to floats
    #df["Median Sale Price" + "_"+ str(i)] = df["Median Sale Price" + "_"+ str(i)].str.replace("$", "").str.replace(",", "").str.replace("K","000").str.replace("%","").astype(float)
    for j in range(len(df.columns)-2):
        if df[df.columns[j+2]].dtype == 'object':
            df[df.columns[j+2]] = df[df.columns[j+2]].str.replace("$", "").str.replace(",", "").str.replace("K","000").str.replace("%","").astype(float)
        #df[df.columns[j+2]] = df[df.columns[j+2]].str.replace("$", "").str.replace(",", "").str.replace("K","000").str.replace("%","").astype(float)
    df_list.append(df)
    i += 1

#Overview of Washington DC housing market data
df_list[0].head()

,Region_0,Month of Period End_0,Median Sale Price_0,Median Sale Price MoM _0,Median Sale Price YoY _0,Homes Sold_0,Homes Sold MoM _0,Homes Sold YoY _0,New Listings_0,New Listings MoM _0,New Listings YoY _0,Inventory_0,Inventory MoM _0,Inventory YoY _0,Days on Market_0,Days on Market MoM_0,Days on Market YoY_0,Average Sale To List_0,Average Sale To List MoM _0,Average Sale To List YoY _0
0,"Washington, DC - Adams Morgan / Kalorama Heigh...",February 2012,444000.0,-0.7,-15.4,63,-19.2,31.3,81,11.0,12.5,84,-6.7,7.7,70,21,15,98.0,0.4,0.2
1,"Washington, DC - Adams Morgan / Kalorama Heigh...",March 2012,399000.0,-10.1,-19.4,79,25.4,58.0,130,60.5,20.4,90,7.1,-10.0,49,-21,-5,98.7,0.7,1.7
2,"Washington, DC - Adams Morgan / Kalorama Heigh...",April 2012,425000.0,6.5,-30.0,93,17.7,57.6,137,5.4,-2.8,85,-5.6,-31.5,30,-19,-16,99.3,0.6,1.8
3,"Washington, DC - Adams Morgan / Kalorama Heigh...",May 2012,420000.0,-1.2,-28.0,116,24.7,63.4,143,4.4,-10.6,88,3.5,-33.8,19,-11,-11,99.1,-0.2,1.1
4,"Washington, DC - Adams Morgan / Kalorama Heigh...",June 2012,476000.0,13.3,-12.9,114,-1.7,34.1,111,-22.4,-29.3,91,3.4,-29.5,21,2,-9,99.1,0.0,0.9

In [4]:
#review the column names 
df.columns

Index(['Region_81', 'Month of Period End_81', 'Median Sale Price_81',
       'Median Sale Price MoM _81', 'Median Sale Price YoY _81',
       'Homes Sold_81', 'Homes Sold MoM _81', 'Homes Sold YoY _81',
       'New Listings_81', 'New Listings MoM _81', 'New Listings YoY _81',
       'Inventory_81', 'Inventory MoM _81', ' Inventory YoY _81',
       'Days on Market_81', 'Days on Market MoM_81', 'Days on Market YoY_81',
       'Average Sale To List_81', 'Average Sale To List MoM _81',
       'Average Sale To List YoY _81'],
      dtype='object')

In [5]:
# Ensure the data types are appropriate for analysis
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 20 columns):
Region_81                       94 non-null object
Month of Period End_81          94 non-null object
Median Sale Price_81            94 non-null float64
Median Sale Price MoM _81       94 non-null float64
Median Sale Price YoY _81       94 non-null float64
Homes Sold_81                   94 non-null int64
Homes Sold MoM _81              94 non-null float64
Homes Sold YoY _81              94 non-null float64
New Listings_81                 94 non-null int64
New Listings MoM _81            94 non-null float64
New Listings YoY _81            94 non-null float64
Inventory_81                    94 non-null int64
Inventory MoM _81               94 non-null float64
 Inventory YoY _81              94 non-null float64
Days on Market_81               94 non-null int64
Days on Market MoM_81           94 non-null int64
Days on Market YoY_81           94 non-null int64
Average Sale To List_81         94 non-null float64
Average Sale To List MoM _81    94 non-null float64
Average Sale To List YoY _81    94 non-null float64
dtypes: float64(12), int64(6), object(2)
memory usage: 14.8+ KB

### Data Examination and Variable Selection for Testing

In the above chart, we can see a brief overview of our Washington DC housing market data that we gathered from Redfin. After some examination of the variables within this dataset, we wanted to narrow our testing down to only a few of the variables that we deemed most important for our future analysis.

The most important variable to us is Median Sale Price, as the main goal of our analysis and testing is to be able to eventually build predictive models that predict future home sale price. We determined that we will use Median Sale Price in our testing. Additionally, we decided to use Homes Sold Month-over-Month and Inventory Month-over-Month as the other two variables for our testing. We believe these two variables can not only have predictive power of future home sale price, but can also hold up well on their own if we used them as response variables in other models.

We noticed that in our initial data chart that the notation of some numbers in some of the columns (including '$', 'K', ',', and '%') would potentially give us issues with coding. We removed that kind of notation from our data and can confirm in our above chart that the cleaning worked.

We also want to confirm that our previous code worked in converting all of our variables that were listed as a "non-null object" (besides Region and Month of Period End) to floats or integers that we can work with in our testing. The 'info' code shows that our variable conversions were indeed successful and the data is able to be worked with.

## Creating dataframes containing Median Sale Prices, Homes Sold MoM, and Inventory MoM of each Washington DC region from Feb. 2012 to Oct. 2019

In [8]:
# Create datasets for median sale prices, Homes Sold MoM and Inventory MoM and save them in data folder


#Creating dataframe containing Median Sale Price of each Washington DC region from Feb. 2012 to Oct. 2019 
final_lst = []
i = 0
for df in df_list:
    final_lst.append(df["Median Sale Price" + "_"+ str(i)][0:93])
    i += 1
median_sale_price = pd.concat(final_lst, axis = 1)
median_sale_price.to_csv('data/Median Sale Price.csv')

#Overview of median_sale_price data
print(median_sale_price)


#Creating dataframe containing Homes Sold MoM of each Washington DC region from Feb. 2012 to Oct. 2019 
final_lst_2 = []
i = 0
for df in df_list:
    final_lst_2.append(df["Homes Sold MoM " + "_"+ str(i)][0:93])
    i += 1
homes_sold_mom = pd.concat(final_lst_2, axis = 1)
homes_sold_mom.to_csv('data/Homes Sold MoM.csv')

#Overview of homes_sold_mom data
print(homes_sold_mom)


#Creating dataframe containing inventory MoM of each Washington DC region from Feb. 2012 to Oct. 2019 
final_lst_3 = []
i = 0
for df in df_list:
    final_lst_3.append(df["Inventory MoM " + "_"+ str(i)][0:93])
    i += 1
inventory_mom = pd.concat(final_lst_3, axis = 1)
inventory_mom.to_csv('data/Inventory MoM.csv')

#Overview of inventory_mom data
inventory_mom

    Median Sale Price_0  Median Sale Price_1  Median Sale Price_2  \
0              444000.0             819000.0             222000.0
1              399000.0             860000.0             100000.0
2              425000.0             852000.0             100000.0
3              420000.0             870000.0              99000.0
4              476000.0             850000.0              98000.0
..                  ...                  ...                  ...
88             580000.0            1020000.0             344000.0
89             660000.0            1068000.0             372000.0
90             620000.0            1082000.0             365000.0
91             615000.0             975000.0             350000.0
92             584000.0            1066000.0             332000.0

    Median Sale Price_3  Median Sale Price_4  Median Sale Price_5  \
0              900000.0              89000.0              80000.0
1              878000.0             133000.0              92000.0
2              876000.0              89000.0              80000.0
3              901000.0              89000.0              80000.0
4              993000.0              85000.0              75000.0
..                  ...                  ...                  ...
88            1148000.0             265000.0             360000.0
89            1100000.0             326000.0             355000.0
90            1135000.0             349000.0             357000.0
91            1135000.0             347000.0             353000.0
92            1175000.0             310000.0             345000.0

    Median Sale Price_6  Median Sale Price_7  Median Sale Price_8  \
0              160000.0             170000.0            1094000.0
1              159000.0             175000.0            1365000.0
2              165000.0             247000.0            1570000.0
3              165000.0             178000.0            1320000.0
4              174000.0             176000.0            1205000.0
..                  ...                  ...                  ...
88             368000.0             375000.0            1221000.0
89             349000.0             387000.0             910000.0
90             379000.0             370000.0            1538000.0
91             374000.0             365000.0            1973000.0
92             350000.0             312000.0            1740000.0

    Median Sale Price_9  ...  Median Sale Price_72  Median Sale Price_73  \
0              119000.0  ...              502000.0              453000.0
1              126000.0  ...              495000.0              454000.0
2               89000.0  ...              502000.0              490000.0
3               85000.0  ...              529000.0              531000.0
4               80000.0  ...              529000.0              531000.0
..                  ...  ...                   ...                   ...
88             278000.0  ...              645000.0              750000.0
89             316000.0  ...              665000.0              790000.0
90             318000.0  ...              727000.0              790000.0
91             347000.0  ...              761000.0              817000.0
92             295000.0  ...              738000.0              815000.0

    Median Sale Price_74  Median Sale Price_75  Median Sale Price_76  \
0               316000.0              815000.0              486000.0
1               420000.0              723000.0              410000.0
2               455000.0              798000.0              396000.0
3               435000.0              795000.0              391000.0
4               413000.0              825000.0              420000.0
..                   ...                   ...                   ...
88              620000.0             1131000.0              454000.0
89              618000.0             1032000.0              483000.0
90              570000.0             1009000.0              485000.0
91              540000.0              968000.0              485000.0
92              600000.0             1150000.0              473000.0

    Median Sale Price_77  Median Sale Price_78  Median Sale Price_79  \
0               375000.0              790000.0             1425000.0
1               383000.0              780000.0             1405000.0
2               425000.0              436000.0             1200000.0
3               435000.0              489000.0              995000.0
4               382000.0              599000.0              699000.0
..                   ...                   ...                   ...
88              490000.0              585000.0             1350000.0
89              657000.0              643000.0             1395000.0
90              670000.0              552000.0             1088000.0
91              570000.0              643000.0             1210000.0
92              540000.0              625000.0             1039000.0

    Median Sale Price_80  Median Sale Price_81
0               690000.0              300000.0
1               830000.0              250000.0
2               700000.0              365000.0
3               575000.0              365000.0
4               573000.0              261000.0
..                   ...                   ...
88              532000.0              534000.0
89              554000.0              573000.0
90              513000.0              585000.0
91              518000.0              573000.0
92              750000.0              570000.0

[93 rows x 82 columns]
    Homes Sold MoM _0  Homes Sold MoM _1  Homes Sold MoM _2  \
0               -19.2                0.0              -50.0
1                25.4              -30.6              150.0
2                17.7                8.0               60.0
3                24.7               25.9               37.5
4                -1.7               35.3               18.2
..                ...                ...                ...
88               -0.8               15.4               25.0
89              -12.4               10.0               20.0
90              -10.4                0.0                0.0
91               -6.3              -15.2              -33.3
92               10.1              -25.0                0.0

    Homes Sold MoM _3  Homes Sold MoM _4  Homes Sold MoM _5  \
0                20.0              -33.3               20.0
1               -33.3               50.0              -33.3
2               -25.0              133.3               35.0
3                33.3                0.0               11.1
4                50.0               42.9               26.7
..                ...                ...                ...
88                0.0               18.8               -6.5
89               37.5              -10.5               -1.7
90               -9.1              -11.8                5.3
91              -20.0              -20.0               -3.3
92              -25.0               25.0              -13.8

    Homes Sold MoM _6  Homes Sold MoM _7  Homes Sold MoM _8  \
0                 5.6              -30.0                0.0
1               -18.4              -14.3               12.5
2               -19.4              -33.3              -22.2
3                28.0              100.0               14.3
4                31.3               50.0              -12.5
..                ...                ...                ...
88               -1.6              -12.0               42.9
89               -4.8               13.6              -10.0
90                5.0                8.0              -11.1
91               -4.8              -11.1              -25.0
92               -5.0              -16.7               16.7

    Homes Sold MoM _9  ...  Homes Sold MoM _72  Homes Sold MoM _73  \
0                 0.0  ...                 0.0                12.0
1                33.3  ...                -7.5                -3.2
2               125.0  ...                10.2                21.1
3               -11.1  ...                22.2                 6.4
4                37.5  ...                34.8                 3.4
..                ...  ...                 ...                 ...
88               20.0  ...                 3.3                 1.1
89              -16.7  ...                14.5                -7.3
90              -20.0  ...                 8.5               -14.0
91              -25.0  ...               -14.3               -14.9
92               33.3  ...                -9.1                14.2

    Homes Sold MoM _74  Homes Sold MoM _75  Homes Sold MoM _76  \
0                 33.3                50.0                 3.0
1                 75.0                66.7                14.7
2                 28.6                 0.0                 7.7
3                 22.2                20.0                28.6
4                  0.0                33.3                 1.9
..                 ...                 ...                 ...
88               -21.4                 0.0                15.0
89                18.2                 0.0                17.4
90                23.1                -8.3               -20.4
91               -18.8                -9.1                 9.3
92               -15.4               -50.0                -2.1

    Homes Sold MoM _77  Homes Sold MoM _78  Homes Sold MoM _79  \
0                  0.0               -16.7                 4.3
1                 41.2               -30.0               -12.5
2                  4.2                14.3               -14.3
3                  8.0                75.0                22.2
4                -11.1                35.7               -13.6
..                 ...                 ...                 ...
88                 0.0               -12.5                17.4
89               -14.3                -4.8                 7.4
90               -16.7               -35.0               -24.1
91               -13.3                23.1               -13.6
92               -15.4                 9.4                 5.3

    Homes Sold MoM _80  Homes Sold MoM _81
0                -24.0                -5.6
1                -15.8               -11.8
2                -18.8                 0.0
3                 38.5               -13.3
4                 33.3                46.2
..                 ...                 ...
88                68.8                 0.0
89                -3.7                -6.8
90                -7.7                 2.4
91                -8.3                -9.5
92               -13.6               -18.4

[93 rows x 82 columns]

,Inventory MoM _0,Inventory MoM _1,Inventory MoM _2,Inventory MoM _3,Inventory MoM _4,Inventory MoM _5,Inventory MoM _6,Inventory MoM _7,Inventory MoM _8,Inventory MoM _9,...,Inventory MoM _72,Inventory MoM _73,Inventory MoM _74,Inventory MoM _75,Inventory MoM _76,Inventory MoM _77,Inventory MoM _78,Inventory MoM _79,Inventory MoM _80,Inventory MoM _81
0,-6.7,4.2,-17.4,33.3,6.7,-3.3,12.3,33.3,-7.1,6.3,...,-25.0,4.3,0.0,NaN,3.7,0.0,6.5,16.0,60.0,-12.5
1,7.1,12.0,0.0,-25.0,12.5,0.0,3.7,15.0,-30.8,17.6,...,45.8,25.0,-14.3,NaN,28.6,4.5,3.0,0.0,37.5,-9.5
2,-5.6,7.1,15.8,16.7,-27.8,-5.1,7.1,-4.3,66.7,-25.0,...,-20.0,7.8,-16.7,33.3,-5.6,-8.7,-26.5,10.3,-9.1,10.5
3,3.5,-13.3,-22.7,-42.9,7.7,12.5,-17.6,-27.3,-6.7,6.7,...,3.6,-3.1,40.0,50.0,-11.8,4.8,16.0,3.1,-20.0,4.8
4,3.4,-7.7,0.0,50.0,7.1,7.9,9.3,12.5,21.4,0.0,...,17.2,-2.1,-28.6,-66.7,0.0,-4.5,3.4,0.0,-12.5,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,4.5,-32.0,28.6,50.0,16.7,15.2,-17.3,-29.2,57.1,21.4,...,4.3,7.6,57.1,-50.0,43.5,40.0,19.0,20.0,-44.4,3.3
89,0.0,-5.9,0.0,0.0,-14.3,-18.9,7.0,-11.8,-36.4,-11.8,...,-10.2,-11.1,-9.1,100.0,-30.3,-28.6,0.0,4.2,30.0,-9.7
90,-11.4,-6.3,55.6,-66.7,-41.7,-14.0,2.2,0.0,-14.3,-26.7,...,-31.8,18.2,-80.0,-50.0,26.1,0.0,-6.0,-16.0,-15.4,0.0
91,21.0,60.0,28.6,0.0,28.6,27.0,-8.5,20.0,50.0,18.2,...,83.3,37.5,350.0,0.0,3.4,0.0,-2.1,42.9,45.5,42.9
92,10.7,25.0,38.9,200.0,-33.3,2.1,18.6,5.6,22.2,-23.1,...,9.1,-13.3,0.0,0.0,-16.7,40.0,4.3,13.3,12.5,-2.5

### Datasets Created for Testing

Now that we have decided on our three testing variables, above, we created separate dataframes for each variable. In each dataframe, there are 82 columns, which are comprised of the 82 different regions in Washington DC. Within each region, there are 92 observations/data points to examine, spanning from February 2012 to October 2019. 

To futher explain each of the dataframes so that it makes more sense what is within each one:
The Median Sale Price dataframe contains the 82 Washington DC regions, with 92 Median Sale Prices that span from February 2012 to October 2019. The Homes Sold MoM dataframe contains the 82 Washington DC regions, with 92 Homes Sold Month-over-Month points that span from February 2012 to October 2019. The Inventory MoM dataframe contains the 82 Washington DC regions, with 92 Inventory Month-over-Month points that span from February 2012 to October 2019. 

After creating these dataframes with our cleaned Washington DC housing market data from Redfin, we are now ready to move onto testing and further analysis.